{#
  This file is a template for the README.md file to be added to the new Bun
  project. It's a nunjucks template, so it can contain nunjucks expressions and
  statements. For more info, refer to their documentation:

  https://mozilla.github.io/nunjucks/templating.html
#}
# {{ project.name }}

{{ project.description }}

## Installation

```bash
bun install {{ project.name }}
```
