{#
  This file is a nunjucks template for the README.md file to be added to the new
  Bun project. For more info on nunjucks, refer to their documentation:

  https://mozilla.github.io/nunjucks/templating.html
#}
# {{ project.name }}

{{ project.description }}

## Installation

```bash
bun install {{ project.name }}
```
